header
{   display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(134, 58, 58);
    height:80px;
    position:sticky;
    z-index:10;
    top: 0%;
}
header img{
    margin-left: 140px;
}
nav 
{
    margin-right:140px;
}
nav a {
    text-decoration: none;
    color: white;
    margin-right:40px;
    font-size:18px;

}
nav a:hover {
    color:orange
}
 